.container {
    background: #f2f2f2;
    margin: auto;
}

.show-btn {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#output {
    margin-top: 50px;
    background: #5ef5c3;
}

#output li {
    margin-bottom: 5px;
}